<div class="pretty_haiku haiku_#{haiku.id}" id="#{haiku.id}">
  <div class="haiku">
    <%= simple_format haiku.description %>
    <div class="author">
      <%= simple_format haiku.author %>
    </div>
  </div>
</div>
