.pretty_haiku{class: "haiku_#{single_haiku.id}"}
  .haiku=simple_format single_haiku.description
  .author  -  #{single_haiku.author}
  / -if single_haiku.file_path.present?
  /   %audio{ controls: "controls"}
  /     %source{ src: "/#{single_haiku.file_path}" }
  / -else
  /   .profile-block-haiku
  /     %p Alex can't read me,
  /     %p this poem must sit mutely;
  /     %p Blame speech synthesis
