/ =render partial: "form"
#haiku
  -if user_signed_in?
    = render partial: "editable_haiku", collection: @list_many_haiku
  -else
    = render partial: "single_haiku", collection: @list_many_haiku
-if @list_many_haiku.respond_to?(:total_pages)
  =will_paginate @list_many_haiku
