$('.alert').remove()
$('#messages').before("<div class='alert alert-success alert-dismissable'><a class='close' data-dismiss='alert'>×</a><div id='flash_success'>#{notice}</div></div>")
$(".haiku_#{id}").remove()
