<%= simple_form_for :search, url: searches_path, method: :get do |f| %>
  <div class="haiku">
    <%= select_tag :type, options_for_select([['Content', :content], ['User', :user]]) %>
    <%= label_tag :q, "contains" %>
    <%= text_field_tag :q, params[:q] %>
  </div>
<% end %>
