<div id="haikus">
  <%= render partial: "haikus/haiku", collection: @haikus %>
</div>
<%= render partial: "form" %>
<% if @haikus.respond_to?(:total_pages) %>
  <div class="center">
    <%=will_paginate @haikus %>
  </div>
<% end %>
