@import "bootstrap";

* {
  box-sizing: border-box;
}

.page_title {
  display: block;
  text-align: center;
  font-size: 2.3em;
  font-weight: 500;
  line-height: 35px;
  margin-top: 5px;
  font-family: "Parisienne", cursive;
  color: lightgrey;
  &:hover, &:active {
    color: grey;
    text-decoration: none;
  }
}

.center {
  text-align: center;
}

.haiku {
  background: white;
  background-image:  url("/grey_@2X.png");
  background-repeat: repeat;
  border: thin grey solid;
  padding: 10px;
  border-radius: 3px;
  display: block;
  margin: 10px auto;
  min-width: 300px;
  max-width: 600px;
  text-align: center;
  box-shadow: 1px 1px 1px;
  position: relative;
}

.haiku-left {
  position: absolute;
  top: 5px;
  left: 10px;
}
.haiku-right {
  position: absolute;
  top: 5px;
  right: 10px;
}
textarea, input, select {
  border-radius: 3px;
  border: thin lightgrey solid;
}

form {
  width: 90%;
  min-width: 300px;
  max-width: 600px;
  margin: 0 auto;

  textarea {
    margin: 10px auto;
    min-width: 300px;
    width: 90%;
    max-width: 600px;
    display: block;
    max-width: 100%
  }

  label {
    text-align: center;
    line-height: 2em;
    margin: 0;
  }

  .center {
    margin: 0 auto;
    display: block;
  }

  #haiku_author {
    max-width: 100%;
    margin: 10px auto;
    display: block;
    padding: 10px;
  }

  abbr.required {
    display: none;
  }
}
.author {
  font-style: italic;
  font-size: .8em;
}

body {
  background: rgb(30,30,30);
  background-image: url("/black_@2X.png");
  background-repeat: repeat;
  background-attachment: fixed;
}

.navbar-top, .navbar-inner {
  background: rgb(30,30,30);
  background-image: url("/low_contrast_linen_@2X.png");
  background-repeat: repeat;
  border: none;
  border-radius: 0;
}
.navbar-inner {
  padding: 0;
}

.navbar-top {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  clear: both;
  z-index: 1000;
}

.content {
  position: relative;
  top: 40px;
}

.error {
  color: #b94a48;
  background-color: #f2dede;
  width: 90%;
  display: block;
  margin: 10px auto;
  padding: 10px;
}

p {
  font-size: 1em;
}

.pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default;
  background: white;
  margin: 0 auto;
  width: 600px;
  border-radius: 3px;
  a, span, em {
    padding: 0.2em 0.5em;
  }
  .disabled {
    color: #aaaaaa;
  }
  .current {
    font-style: normal;
    font-weight: bold;
  }

  a {
    border: 1px solid lightgrey;
    border-radius: 3px;
    text-decoration: none;
  }

  .page_info {
    color: #aaaaaa;
    padding-top: 0.8em;
  }
  .previous_page, .next_page {
    border-width: 1px;
  }
  .previous_page {
    margin-right: 1em;
  }
  .next_page {
    margin-left: 1em;
  }
}
