@import "bootstrap";

* {
  box-sizing:border-box;
}

@mixin border-radius($size) {
  -moz-border-radius: $size;
  -webkit-border-radius: $size;
  border-radius: $size;
}

.page_title {
  display:block;
  text-align: center;
  font-size: 2em;
  font-weight:500;
  line-height: 40px;
}

.center {
  text-align: center;
}

.profile-block {
  display:block;
  margin:0 auto;
  text-align: center;
  min-width:400px;
  width:90%;
  max-width:600px;
  border:thin grey solid;
  padding:10px;
  @include border-radius(5px);
  background:url("/grey_@2X.png") repeat;
}

.profile-block-haiku {
  display:block;
  margin:0 auto;
  text-align: center;
  width:200px;
  border:thin grey solid;
  padding:10px;
  @include border-radius(5px);
}

.haiku-right {
  position:absolute;
  top:5px;
  right:10px;
}

.pretty_haiku {
  background:url("/grey_@2X.png") repeat;
  border:thin grey solid;
  padding:10px;
  @include border-radius(5px);
  display:block;
  margin:10px auto;
  min-width:400px;
  width:90%;
  max-width:600px;
  text-align: center;
  box-shadow: 1px 1px 1px;
}

.form_page {
  width:450px;
  margin:0 auto;
  textarea {
    margin:10px auto;
    min-width:400px;
    width:90%;
    max-width:600px;
    display:block;
    max-width: 100%
  }
  label {
    font-size:1.5em;
    text-align: center;
    line-height:40px;
  }
  .center {
    margin:0 auto;
    display:block;
  }
  #haiku_author {
    margin:20px auto;
    display:block;
  }
}
.author {
  font-style: italic;
  font-size:.8em;
}

body {
  background:url("/black_@2X.png") repeat fixed;
}

.navbar-top, .navbar-inner {
  background:url("/low_contrast_linen_@2X.png") repeat;
  border:none;
  @include border-radius(0);
}

.navbar-top {
  position:fixed;
  top:0;
  display: block;
  width: 100%;
  clear:both;
  z-index:1000;
}

.content {
  position:relative;
  top:40px;
}

.rainy {
  position:absolute;
  top:5px;
  left:10px;
  width:30%;
}
label {
  color:white;
}
audio {
  width:100%;
  min-width:40px;
  max-width:300px;

}
.error {
  color:#b94a48;
  background-color: #f2dede;
  width:90%;
  display:block;
  margin:10px auto;
  padding:10px;
  @include border-radius(5px);
}
