<div class="navbar-top">
  <div class="navbar-inner">
    <%= link_to "Haiku d'etat", root_path, class: "page_title" %>
    <div class="haiku-left">
      <%= link_to "Generate Random Haiku", random_haikus_path, class: "btn btn-info" %>
    </div>
    <div class="haiku-right">
      <%= link_to "Create a Haiku", new_haiku_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
